<div id="volunteer-page">
	<div class="row header">
		<h5 class="brand-logo center header-title">Volunteer a Ride</h5>
	  <div class="col s12">
	    <ul class="tabs">
	      <li class="tab col s4"><a class="active" href="#volunteerRide">VOLUNTEER</a></li>
	      <li class="tab col s4"><a href="#upcomingRides">UPCOMING</a></li>
	      <li class="tab col s4"><a href="#myProfile">PROFILE</a></li>
	    </ul>
	  </div>
	</div>
  <div id="volunteerRide" class="col s12">
    {{#each rides}}
      {{#unless this.accepted}}
        <div class="row">
          <div class="col s12 m12 l6 offset-l3">
            <div class="card white darken-1">
              <div class="card-content dark-text">
                <div class="volunteer-card-title-container">
                  <span class="volunteer-card-title">{{this.month}} {{this.date}} at 
                  {{this.pickupTime}} {{this.pickupTimeMeridian}}</span>
                  <div class="volunteer-card-title-duration-container">
                    <i class="material-icons volunteer-ride-duration-icon irc-yellow">schedule</i>
                    <div class="volunteer-ride-duration-label-container">
                      <span class="volunteer-ride-duration-label">DURATION</span>
                      <span class="volunteer-ride-duration">{{this.duration}} hrs</span>
                    </div>
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col s11 push-s1">
                    <span class="card-location-label">PICKUP LOCATION</span>
                    <p class="card-location"><span style="text-align: left;">{{this.pickupLocationCity}}</span><span class="time-float-right">{{this.pickupTime}} {{this.pickupTimeMeridian}}</span></p>
                    <p class="secondary-text">{{this.pickupLocationAddress}}</p>
                  </div>

                  <div class="col s1 pull-s11">
                    <div class="circle"></div>
                    <div class="dotted-vert-line"></div>
                  </div>
                </div>

                <div class="row">
                  <div class="col s11 push-s1">
                    <span class="card-location-label">DROPOFF LOCATION</span>
                    <p class="card-location"><span style="text-align: left;">{{this.dropoffLocationCity}}</span><span class="time-float-right">4:00 PM</span></p>
                    <p class="secondary-text">{{this.dropoffLocationAddress}}</p>
                  </div>

                  <div class="col s1 pull-s11">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              <div class="row card-action">
                <a id="card-accept-ride-btn" class="modal-trigger" value={{@key}} href="#accept-modal"><div class="col s6 card-action-button card-action-primary-button">ACCEPT</div></a>
                <a class="details-btn" href="/ride?id={{@key}}"><div class="col s6 card-action-button card-action-secondary-button">DETAILS</div></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Structure -->
        <div id="accept-modal" class="modal">
          <div class="modal-content accept-ride-modal">
            <div class="profile-img-wrapper"><img class="profile-image" src={{this.clientImage}}></div>
            <p class="profile-name">{{this.clientName}}</p>
            <p class="accept-ride-modal-description">You're picking up {{this.clientName}} on <span class="medium">{{this.month}} {{this.date}} at {{this.pickupTime}} {{this.pickup}} in {{this.pickupLocationCity}}</span>!</p>
          </div>
          <div class="modal-footer accept-ride-modal-footer">
            <a href="/ride?id={{@key}}" class="modal-action modal-close waves-effect waves-green btn-flat">VIEW RIDE</a>
          </div>
        </div>
      {{/unless}}
    {{/each}}
  	
  </div>

  <div id="upcomingRides" class="col s12">
    {{#each rides}}
      {{#if this.accepted}}
        <div class="row">
          <div class="col s12 m12 l6 offset-l3">
            <div class="card white darken-1">
              <div class="card-content dark-text">
                <div class="volunteer-card-title-container">
                  <div>
                    <p class="upcoming-ride-status-label">ACCEPTED</p>
                    <span class="volunteer-card-title">{{this.month}} {{this.date}} at 
                    {{this.pickupTime}} {{this.pickupTimeMeridian}}</span>
                  </div>
                  <div class="volunteer-card-title-duration-container">
                    <i class="material-icons volunteer-ride-duration-icon irc-yellow">schedule</i>
                    <div class="volunteer-ride-duration-label-container">
                      <span class="volunteer-ride-duration-label">DURATION</span>
                      <span class="volunteer-ride-duration">{{this.duration}} hrs</span>
                    </div>
                  </div>
                </div>
                <br>

                <div class="row upcoming-ride-client-info">
                  <div class="profile-img-name-container">
                    <img class="profile-image-thumbnail" src={{this.clientImage}}>
                    <span class="upcoming-ride-client-name">{{this.clientName}}</span>
                  </div>
                  <div class="call-icon-container">
                    {{!-- <a class="call-icon-btn" href=""> --}}
                    <i class="material-icons call-icon irc-yellow float-right">call</i>
                    <p class="call-txt-btn">CALL</p>
                    {{!-- </a> --}}
                  </div>
                </div>

                <div class="row">
                  <div class="col s11 push-s1">
                    <span class="card-location-label">PICKUP LOCATION</span>
                    <p class="card-location"><span style="text-align: left;">{{this.pickupLocationCity}}</span><span class="time-float-right">{{this.pickupTime}} {{this.pickupTimeMeridian}}</span></p>
                    <p class="secondary-text">{{this.pickupLocationAddress}}</p>
                  </div>

                  <div class="col s1 pull-s11">
                    <div class="circle"></div>
                    <div class="dotted-vert-line"></div>
                  </div>
                </div>

                <div class="row">
                  <div class="col s11 push-s1">
                    <span class="card-location-label">DROPOFF LOCATION</span>
                    <p class="card-location"><span style="text-align: left;">{{this.dropoffLocationCity}}</span><span class="time-float-right">4:00 PM</span></p>
                    <p class="secondary-text">{{this.dropoffLocationAddress}}</p>
                  </div>

                  <div class="col s1 pull-s11">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              <div class="row card-action">
                <a class="details-btn" href="/ride?id={{@key}}"><div class="col s12 card-action-button card-action-secondary-button">DETAILS</div></a>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div id="myProfile" class="col s12">MyProfile Page</div>
</div>
        